{
    auto_https disable_redirects
    local_certs
    default_sni 62.72.9.246
}

https://62.72.9.246 {
    tls internal

    handle /api/* {
        reverse_proxy metas_backend:8000
    }

    reverse_proxy metas_frontend:80
}
