@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg text-ink font-sans;
  font-size: 14px;
}

h1,
h2,
h3 {
  @apply font-serif font-semibold;
  text-wrap: balance;
}

.tabular {
  font-variant-numeric: tabular-nums;
}
